.category_content {
    background-color: $white;
    padding: 30px;
    margin-top: -150px;
    border-radius: 5px;
    position: relative;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
