.contact_info {
    .contact_sec {
        background-color: $white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 30px;
        border-radius: 5px;
        .map {
            background-color: $white;
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
        }
        h4 {
            color: $gray;
        }
        ul {
            li {
                a {
                    font-size: 20px;
                    color: $gray;
                    margin-#{$right}: 10px;
                }
            }
        }
        .btn {
            background-color: $Green-Blue;
            color: $white;
            &:hover {
                background-color: transparent;
                color: $Green-Blue;
                border: 2px solid $Green-Blue;
            }
        }
    }
}

.contact_bg {
    background: url(../../assets/images/covers/contact\ us.jpg) center no-repeat;
    background-size: cover; 
}
