/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    01. Colors
---------------------------------------------------------------------------------------------------------------------------------------------------- */
$black: #000;
$white: #fff;
$Violet-Red: #8e1b3d;
$gray: #535453;
$Green-Blue: #1571b9;
$Ghost-White: #FAF9F8;
