/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    01. Directions
---------------------------------------------------------------------------------------------------------------------------------------------------- */
$Dir: ltr;
$left: left;
$right: right;
$main-font: gotham;
$bold-font: gotham-bold;